:host {
  padding: 25px;
  text-align: center;

  img {
    height: 300px;
  }

  button {
    padding: 5px;
    border: 2px solid var(--primary);
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: var(--primary);
    background: none;
  }
}
