.container {
  // display: grid;
  // grid-template-columns: 100vw;
  // grid-template-rows: auto 1fr;
  // grid-gap: 20px;
  // grid-template-areas:
  //   'header'
  //   'main';
  // min-height: 100vh;
  // height: 100vh;
  // max-width: 100vw;
}

header, footer {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 3px;
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  height: 50px;
  border-bottom: 4px solid var(--primary);

  a {
    text-decoration: none;
    color: inherit;
  }

  .icon {
    position: absolute;
    right: 10px;
    top: auto;
    bottom: auto;

    img {
      width: 100%;
      height: 100%;
      max-width: 175px; 
      max-height: 50px;
      background-color: var(--primary);

      .mobile {
        width: 100px;
      }
    }
  }
}

main {
  margin-top: 50px;
  height: calc(100vh - 54px);

  footer {
    padding: 50px 0;
    border-top: 4px solid var(--primary);
    text-align: center;

    .social-media {
      a {
        img {
          height: 48px;
        }
      }
    }
  }
}

