<div fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutAlign="start center" fxFlex="50" fxFlex.lt-md="90">
    <div class="card" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="15px">
      <img *ngIf="imageUrl" [src]="imageUrl"/>
      <h2 *ngIf="card.title">{{card.title}}</h2>
      <h3 *ngIf="card.subtitle">{{card.subtitle}}</h3>
      <ng-container  *ngFor="let item of card.text">
        <template-block *ngIf="item._type === 'block' || item._type === 'code'" [data]="item"></template-block>
        <template-figure *ngIf="item._type === 'figure'" [data]="item"></template-figure>
        <template-embed-html *ngIf="item._type === 'embedHTML'" [data]="item"></template-embed-html>
      </ng-container>
      <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <template-button *ngFor="let cta of card.ctas" [route]="cta.link" [title]="cta.title"></template-button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <template-badge *ngFor="let tag of card.tags" [tag]="tag"></template-badge>
      </div>
    </div>
  </div>
</div>
