<div fxHide.lt-md="true" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
  <a *ngFor="let item of items" [routerLink]="[item.slug.current]">{{ item.title | uppercase }}</a>
</div>

<div fxHide.gt-sm="true" id="menu-toggle" [class.open]="showMenu" (click)="showMenu = !showMenu">
  <div id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="cross">
    <span></span>
    <span></span>
  </div>
</div>
<div fxHide.gt-sm="true"  *ngIf="showMenu" class="mobile-menu" fxLayout="column" fxLayoutAlign="start stretch">
  <div *ngFor="let item of items; let i = index">
    <a [routerLink]="[item.slug.current]" (click)="showMenu = false">{{ item.title | uppercase }}</a>
    <hr *ngIf="i < items.length - 1"/>
  </div>
</div>
